<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <div th:replace="~{fragments/headers/header.html :: header}"></div>
        <form action="/management/algo/add" method="get">
            <button type="submit">Добавить новый алгоритм</button>
        </form>
        <div th:each="algo : ${algos}">
            <a th:href="'/algo/' + ${algo.id}" th:text="${algo.id} + '. ' + ${algo.name}">Algo url</a>
            <form th:action="'/management/algo/edit/' + ${algo.id}" method="get">
                <button type="submit">Редактировать</button>
            </form>
            <form th:action="'/management/algo/del/' + ${algo.id}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </div>
    </body>
</html>