<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        <div th:each="algo : ${algos}">
            <a th:href="'/algo/' + ${algo.id}" th:text="${algo.id} + '. ' + ${algo.name}">Algo url</a>
        </div>

        <form action="/algo/all" method="post">
                <label for="operator">
                    <select id="operator" name="operator">
                        <option th:each="operator: ${operators}"
                                th:value="${operator.name()}"
                                th:text="${operator.name()}"
                                th:selected="${operator.name()==chosenOperator}"></option>
                    </select>
                </label>
            <div th:each="tag : ${tags}">
                <label th:for="'tag' + ${tag.id}">
                    <input th:id="'tag' + ${tag.id}"
                           type="checkbox"
                           name="selectedTags"
                           th:text="${tag.name}"
                           th:value="${tag.name}"
                           th:checked="${#lists.contains(chosenTags, tag.name)}">
                </label>
            </div>
            <div th:each="comp : ${complexities}">
                <label th:for="'comp' + ${comp.id}">
                    <input th:id="'comp' + ${comp.id}"
                           type="checkbox"
                           name="selectedComps"
                           th:text="${comp.comp}"
                           th:value="${comp.comp}"
                           th:checked="${#lists.contains(chosenComplexities, comp.comp)}">
                </label>
            </div>

            <button type="submit">Применить</button>
        </form>
    </body>
</html>